.comment-container {
    margin-bottom: 50px;
    border: solid 1px white;

    max-height: 550px;
    background-color: #3a3939;
    overflow-y: scroll;

}

table {
    border-collapse: separate;
    border-spacing: 0px 10px;
}
.table-header {
    background-color: #DCDCDC;
    color: black;
}

.table-header th{
  text-align: center;
}

.title-user {
    width: 25%;
    text-align: left;
}

.user-infos {
    text-align: center;
}

.user-name {
    display: block;
}

.user-date {
    display: block;
}

.user-comment {
    text-align: center;
    overflow-y: scroll;
    width: 70%;
}

.comment-text-area {
    margin-bottom: 10px;
    resize: none;
}

.no-comment {
    font-size: 19px;
}

.btn-icon {
    margin-right: 4px;
}
