.comment-container {
    margin-bottom: 50px;
    border: solid 1px white;
    padding: 20px 10px 20px 10px;
    max-height: 550px;
    background-color: #464646;
    overflow-y: scroll;

}

.title-user {
    width: 25%;
    text-align: left;
}

.title-comment {

}

.user-infos {
    text-align: left;
}

.user-name {
    display: block;
}

.user-date {
    display: block;
}

.user-comment {
    text-align: justify;
}

.comment-text-area {
    margin-bottom: 10px;
    resize: none;
}
