.comment-container {
    margin-bottom: 50px;
    border: solid 1px white;
    max-height: 550px;
    background-color: #3a3939;
    overflow-y: scroll;
    overflow-x: hidden;

}

.table-header {
    background-color: #5a5a5a;
}

.title-user {
    width: 25%;
    text-align: left;
}

.title-comment {

}

.user-infos {
    text-align: left;
}

.user-name {
    display: block;
}

.user-date {
    display: block;
}

.user-comment {
    text-align: justify;
    word-break: break-all;
}

.comment-text-area {
    margin-bottom: 10px;
    resize: none;
}

.no-comment {
    font-size: 19px;
}

.btn-icon {
    margin-right: 4px;
}
