body{
  color: white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

li {
    float:none;
    display:inline-block;
    text-align:center;
    width:13%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #663399;
}

#nav {
    text-align:center;
}

.my_nav {
  margin-bottom: 0;
}

.my_nav ul{
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
  padding: 0px;
  width: 100%;
}

.my_nav li{
  background-color: #333;
  border: 2px solid white;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 18px;
  text-decoration: none;
}

.my_nav li:hover, li a:hover {
  background-color: #FFA500;
  text-decoration: none;
  color: white;
}

#col {
  margin-left: 0px;
  margin-right: 0px;
}

#col-side {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 72px;
}

.contenu {
  background-color: #333;
  text-align: center;
  width:100%;
  padding: 50px;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {color: black;}

th, tr, td {
  text-align: center;
}
